.diag{
    position: absolute;
    z-index:1;
    width:100%;
    top:0;
    height:66%;

}

ion-icon{
    margin-top: 40%;
    font-size:7em;

}
h2{
    margin-top: 40% !important;
    font-weight: bold;
    font-size:1em;

}

p{
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: .9em;
}

.swiper-pagination-bullet-active{
    background: #c400ff ;
}

.swiper-pagination {
    bottom: 25% !important;
}

#skip{
    position: relative;
    bottom: 20%;
    width: 100%;
    background: none !important;
    cursor: pointer;
    z-index: 5;
}

ion-content{
    background-color:#efefefef !important;
    font-family: 'Raleway'; 

}
