.diag{
    position: absolute;
    z-index:1;
    width:100%;
    top:0;
    height:66%;


}

ion-icon{
    margin-top: 40%;
    font-size:7em;
  

}
h2{
    margin-top: 40% !important;
    font-weight: bold;
    font-size:1em;

}

p{
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: .9em;
}

.swiper-pagination-bullet-active{
    background: #FF5435 ;
}

.swiper-pagination {
    bottom: 25% !important;
}

#skip{
  
    bottom : 100%;
    width: 100%;
    background: none !important;
    cursor: pointer;
    color: #FF5435;
    
   
}

ion-content{
    background-color:#efefefef !important;
    font-family: 'Raleway'; 

}
.up{
    margin-top: -100%;
//     margin-left: 20px;
//     margin-right: 20px;
 }
