<ion-header>
  <ion-navbar>
    <ion-buttons >
      <button ion-button menuToggle > 
      <ion-icon name="menu" ></ion-icon>
    </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="category">
      <ion-segment-button value="PhotoUpload">
        Photo upload
      </ion-segment-button>
      <ion-segment-button value="VideoUpload">
          Video Uploads
      </ion-segment-button>
      
    </ion-segment>
  </ion-toolbar>

</ion-header>
 
<ion-content padding>
    <ion-item>
        <!-- <img src="https://firebasestorage.googleapis.com/v0/b/recipeproject-b080b.appspot.com/o/download.png?alt=media&token=5a1d0e39-86ca-49f7-84d9-220bef74dc60"> -->
    
        
        </ion-item>
  <div [ngSwitch]="category" swipe [tabsList]="categories" [(currentTab)]="category" (tabChanged)="onTabChanged($event)" class="swipe-area">
    <ion-list *ngSwitchCase="'PhotoUpload'">
        <button ion-button class="p" color="danger" (click)="takePic()" outline round >
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
     </button>
     <button ion-button class="p" color="danger" (click)="Gallery()" outline round >
        <ion-icon ios="ios-images" md="md-images"></ion-icon>
    
    </button>
        <ion-grid> 
          <ion-row>  
    <ion-col col-6  *ngFor="let photo of photos; let id =index">
        <ion-card class="block">        
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
        <img [src]="photo"  *ngIf="photo"/>
        <ion-col>
            <button class="btn btn-lg btn-success" (click)="liked()">
                <ion-icon name="thumbs-up"></ion-icon>
            </button>
                <div class="like">
                    <div style="margin-right: 1rem">
                      <h2>{{ likesCounter }} likes</h2>
              
                    </div>
               </div>
                </ion-col>

    </ion-card>
    </ion-col>
    <button ion-button (click)="upload()" *ngIf="base64Image">Post</button>
      
    </ion-row>  
    </ion-grid>   
     
    </ion-list>
    <ion-list *ngSwitchCase="'VideoUpload'">
        <ion-grid class="grid">
            <ion-row class="row">
            <ion-col class="col">
            <button ion-button color="secondary" (click)= "presentActionSheet()">Take Video</button>
            </ion-col>
            <ion-col class="col">
            <button ion-button color="secondary" (click)="playVideo()" [disabled]="flag_play">Play Video <video #myvideo width=”600” height=”300”>
                <source src=”movie.mp4” type=”video/mp4” >
                <source src=”movie.ogg” type=”video/ogg”>
                <source src=”movie.webm” type=”video/webm”>
                  <object type="application/x-shockwave-flash" data="movie.swf" >
                    <param name="movie" value="movie.swf" />
                        <param name="wmode" value="transparent" />
                      </object>
                </video></button>
            
         
            <ion-col>
                <button class="btn btn-lg btn-success" (click)="liked()">
                    <ion-icon name="thumbs-up"></ion-icon>
                </button>
                    <div class="like">
                        <div style="margin-right: 1rem">
                          <h2>{{ likesCounter }} likes</h2>
                  
                        </div>
                   </div>
                    </ion-col>

                  </ion-col>
                </ion-row> 
            <ion-row class="row">
            <ion-col class="col">
            <button ion-button full block ="flag_upload"(click)="uploadVideo()">Upload Video</button>
            </ion-col>
            </ion-row>
            </ion-grid>
      </ion-list>
  
     </div>

</ion-content>