page-community {

ion-icon {
    margin-top: 0%;
    font-size: 1.5em;
}
ion-segment-button {
   
    border-color: map-get($colors, primary) !important;
    color: #FF5435 !important;
}
// .btn btn-lg btn-success{
//     //margin-top: 40%;
//     font-size: 1em;
//  color: #FF5435 !important;
//  width: 10%;
//     height: 10%;
// }
ion-content {
    background-image: url('../../assets/imgs/Dessert.bmp');
    background-repeat :no-repeat;
    background-size:cover;
   }

   .input-wrapper {
    color:transparent;
   }

//    .like{
//        background-color: transparent;
       
//    }

}
