<ion-header>
  <ion-navbar color="Recipered">
      <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

      <ion-title text-center>{{ recipe.recipeName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <img src="{{recipe.largeImageUrl}}" />
  <div class="recipe-details">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <div class="recipe-ingredients-count">
                      <div>{{recipe.ingredients.length}}</div>
                      Ingredients                        
                  </div>
              </ion-col>
              <ion-col>
                   <div class="recipe-servings">
                      <div>{{recipe.numberOfServings}}</div>
                       Servings
                  </div>
              </ion-col>
              <ion-col>
                   <div class="recipe-time">
                      <div>{{recipe.totalTimeInSeconds / 60}}</div>
                       Minutes
                  </div>
              </ion-col>
          </ion-row>             
      </ion-grid> 
  </div>
  <ion-list>
      <ion-list-header class="ingredients-header">
          Ingredients
      </ion-list-header>
      
      
      <button ion-item *ngFor="let ingredient of recipe.ingredients">
          <ion-icon name="nutrition" item-start></ion-icon>
          {{ingredient}}
      </button>
      <ion-list-header class="directions-header">
        Directions
      </ion-list-header>
      <button ion-item *ngFor="let direction of recipe.directions">
          <ion-icon name="book" item-start></ion-icon>
          {{direction}}
      </button>
  </ion-list>
  
</ion-content>