<ion-header>
  <ion-navbar color="Recipered">

      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
           
          <button ion-button icon-only (click)="logOut()">
            <ion-icon name="log-out"></ion-icon>
          </button>
          
        
    
        </ion-buttons>
        <ion-title text-center>Recipes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding  >
  <ion-list no-lines>
    <ion-searchbar placeholder="What you want to cook....." [(ngModel)]="searchQuery" debounce=2000 (ionInput)="getItems($event)"></ion-searchbar>
    <ion-segment [(ngModel)]="searchQuery" (ionChange)="getItems($event)" color="secondary">
      <ion-segment-button value="Fish">
        <p>Fish</p>

      </ion-segment-button>
      <ion-segment-button value="Beef">
        <p>beef</p>

      </ion-segment-button>
      <ion-segment-button value="chicken">
        <p>chicken</p>

      </ion-segment-button>
  </ion-segment>
    <button ion-item *ngFor="let item of items; let i = index;"  (click)="AddRecipe(i)">
      <ion-thumbnail item-left>
        <img src="{{item.recipe.image}}" alt="{{item.recipe.label}}" title="{{item.recipe.label}}" />
      </ion-thumbnail>
      <h2 class="recipe-name">{{item.recipe.label}}</h2>
 
    </button>
  </ion-list>
 <!--<div *ngFor="let item of newrecipe; let i = index;" >
  <img src="{{item.recipe.image}}" alt="{{item.recipe.label}}" title="{{item.recipe.label}}" />
 </div>-->
 
</ion-content>


