<ion-header>
  <ion-navbar>

      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>Recipes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-list no-lines>
    <ion-searchbar placeholder="What you want to cook....." [(ngModel)]="searchQuery" debounce=2000 (ionInput)="getItems($event)"></ion-searchbar>

    <button ion-item *ngFor="let item of items; let i = index;"  (click)="AddRecipe(i)">
      <ion-thumbnail item-left>
        <img src="{{item.recipe.image}}" alt="{{item.recipe.label}}" title="{{item.recipe.label}}" />
      </ion-thumbnail>
      <h2 class="recipe-name">{{item.recipe.label}}</h2>
 
    </button>
  </ion-list>
 <!--<div *ngFor="let item of newrecipe; let i = index;" >
  <img src="{{item.recipe.image}}" alt="{{item.recipe.label}}" title="{{item.recipe.label}}" />
 </div>-->
</ion-content>

   
