.page-home {

    .recipe-name{
        color: color($colors, primary, base);
        font-weight: bold;
        font-size: 14pt;
    }
    .cooking-source{
        color: color($colors, dark, base);
        font-size: 10pt;
        font-weight: bold;
        display:inline;
    }
    .cooking-source-list{
        color: color($colors, dark, base);
        font-size: 10pt;
    }

}
