.page-home {
    .seg1{
        background-image: url('../../assets/imgs/lwazi.jpg');
        background-repeat :no-repeat;
        background-size:cover;
    }

    .recipe-name{
        color: #FF5435;
        font-weight: bold;
        font-size: 14pt;
    }
    .cooking-source{
        color: color($colors, dark, base);
        font-size: 10pt;
        font-weight: bold;
        display:inline;
    }
    .cooking-source-list{
        color: color($colors, dark, base);
        font-size: 10pt;
    }
    ion-segment {
        padding: 0px 12px;
        opacity: 0.7;
        position: relative;
        top: -50px;
    }

    ion-segment-button {
       
        border-color: map-get($colors, primary) !important;
        color: #FF5435 !important;
    }
.back{
    background-image: url('../../assets/imgs/back.jpg');
        background-repeat :no-repeat;
        background-size:cover;
}

}
