
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";




$colors: (
  primary:    #CF0000,
  secondary:  #F53D3D,
  danger:     #f53d3d,
  light:      #F5F5F5,
  dark:       #2D3238, 
  Recipe: rgb(255, 144, 40),
  Recipered: #FF5435,
  button: #FF5733,
);




@import "ionic.theme.default";




@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
